
/* Insert your basic styles here, including color schema and typography */
body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #f8f8f8;
}
h1, h2, h3 {
    color: #32a89b; /* Blueish-Green */
}
p {
    color: #4e555b; /* Dark Gray */
}

img {
    width: 600px;
    height: 600px;
}
